.nav-button{
    width: 30px;
    height: 24px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 30px;
}

.nav-bar{
    background: #C4C4C4;
    height: 78px;
    bottom: 0px;
    position: absolute;
    width: 100%;
;
}
.nav-plus{
    width: 44px;
    height: 34px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 0px;
    position: absolute;
    bottom: 56px;
    left: 124px;


}
.private{

    position: absolute;
    top:85px;
    left: 100px;

}
.public{
    position: absolute;
    top:85px;
    left: 250px;

}
