.tickets{
    height:550px;
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    position:relative;
    top:120px;
    margin: 16px;

}