.home-page{
    background-image: url("./home-background.png");
}

.nav-button{
    width: 30px;
    height: 24px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 30px;
}

.home-title{
    height: 54px;
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    color: white;
}



.nav-bar{
    background: #404040;
    height: 78px;
    bottom: 0px;
    position: absolute;
    width: 100%;
;
}
.nav-plus{
    width: 44px;
    height: 34px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 0px;
    position: absolute;
    bottom: 56px;
    left: 124px;


}
.private{

    position: absolute;
    top:85px;
    left: 100px;

}
.public{
    position: absolute;
    top:85px;
    left: 250px;

}

.newHome{
    background-image: url("C:\Users\Noam\WebstormProjects\mybeter\client\src\newHome\new-homepage.png");
    width: 375px;
    height: 812px;
}

.newHome-btn{
    width: 375px;
    height: 812px;
    border: none;
    background: none;
}

.notifi{
    border: none;
    background: none;
}

